<?xml version="1.0"?>

<launch>

	<arg name="enable_amcl"				default="true"/>
	<arg name="enable_ekf"				default="true"/>

	<!-- Launch robot_localization -->
    <group if="$(arg enable_ekf)">
	    <include file="$(find donkey_localization)/launch/ekf.launch"/>
	</group> 

    <!-- Launch amcl -->
	<group if="$(arg enable_amcl)">
		<include file="$(find donkey_localization)/launch/amcl.launch"/>
	</group> 

</launch>
